Test/Service References/ServiceReference1/HJ_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TwRooms">
        <s:complexType />
      </s:element>
      <s:element name="TwRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TwRoomsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWord">
        <s:complexType />
      </s:element>
      <s:element name="HelloWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TwRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:TwRooms" />
  </wsdl:message>
  <wsdl:message name="TwRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:TwRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWordSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWord" />
  </wsdl:message>
  <wsdl:message name="HelloWordSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWordResponse" />
  </wsdl:message>
  <wsdl:portType name="HJ_ServiceSoap">
    <wsdl:operation name="TwRooms">
      <wsdl:input message="tns:TwRoomsSoapIn" />
      <wsdl:output message="tns:TwRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <wsdl:input message="tns:HelloWordSoapIn" />
      <wsdl:output message="tns:HelloWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HJ_ServiceSoap" type="tns:HJ_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TwRooms">
      <soap:operation soapAction="http://tempuri.org/TwRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <soap:operation soapAction="http://tempuri.org/HelloWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HJ_ServiceSoap12" type="tns:HJ_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TwRooms">
      <soap12:operation soapAction="http://tempuri.org/TwRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <soap12:operation soapAction="http://tempuri.org/HelloWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HJ_Service">
    <wsdl:port name="HJ_ServiceSoap" binding="tns:HJ_ServiceSoap">
      <soap:address location="http://localhost:63305/HJ_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="HJ_ServiceSoap12" binding="tns:HJ_ServiceSoap12">
      <soap12:address location="http://localhost:63305/HJ_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>